In [60]:
import numpy as np
import pandas as pd

In [67]:
np.load('data/p_values_emp.npy', allow_pickle=True).min()

0.016666666666666666

In [61]:
columns = np.load('data/columns.npy')
nfi = np.load('data/rand0/nfi_values.npy')
df = pd.DataFrame({
    "mean_abs_shap": np.mean(np.abs(nfi).reshape(-1), axis=0), 
    "stdev_abs_shap": np.std(np.abs(nfi).reshape(-1), axis=0), 
    "mean_shap": np.mean(nfi.reshape(-1), axis=0), 
    "snp": columns
})

In [ ]:
"""
SI NO HAY EMPIRIC
ES EL ORDEN DE
np.save(f'{caso_random}/gene_v2.npy', np.array(df.sort_values("mean_abs_shap", ascending=False)['name']))

"""
df['p_emp'] = np.load('data/p_values_emp.npy', allow_pickle=True)

In [64]:
df.columns

Index(['mean_abs_shap', 'stdev_abs_shap', 'mean_shap', 'snp', 'p_emp'], dtype='object')

In [ ]:
# RESULTADO FINAL FINAL
df[[ 'snp', 'p_emp', 'mean_abs_shap', 'stdev_abs_shap', 'mean_shap',]]

            snp     p_emp  mean_abs_shap  stdev_abs_shap     mean_shap
0          SNP1  0.166667       0.000361        0.000454 -5.804313e-16
1          SNP2  0.816667       0.000361        0.000454 -5.804313e-16
2          SNP3  0.333333       0.000361        0.000454 -5.804313e-16
3          SNP4  0.516667       0.000361        0.000454 -5.804313e-16
4          SNP5  0.650000       0.000361        0.000454 -5.804313e-16
...         ...       ...            ...             ...           ...
14995  SNP14996  0.033333       0.000361        0.000454 -5.804313e-16
14996  SNP14997  0.683333       0.000361        0.000454 -5.804313e-16
14997  SNP14998  0.650000       0.000361        0.000454 -5.804313e-16
14998  SNP14999  0.650000       0.000361        0.000454 -5.804313e-16
14999  SNP15000  0.500000       0.000361        0.000454 -5.804313e-16

[15000 rows x 5 columns]